{{>header}}

	<form method="POST" action="loginPost" class="ui fluid form">
		
		<h2>Connectez vous</h2>
		
		<div class="field">
			<label for="login">Login : </label><input type="text" id="login" name="login" placeholder="Login"/>
		</div>
		
		<div class="field">
			<label for="password">Mot de passe : </label><input type="password" id="password" name="password" placeholder="mot de passe" />
		</div>
		
		<input type="submit" class="ui positive button" value="Connexion" name="Connect" />
		
		
	</form>

{{>footer}}